@import "tailwindcss";
@config "../tailwind.config.js";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@theme {
  --heroui-primary-50: #d8def6;
  --heroui-primary-500: #32407a;
  --heroui-primary-900: #1b244b;

  --heroui-secondary-50: #f6f0e1;
  --heroui-secondary-500: #d4b36a;
  --heroui-secondary-900: #9d854f;
}
@custom-variant dark (&:is(.dark *));
